// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.site-header {
    border-top: none;
    border-bottom: none;
    background-color: #82ffcd;
    min-height: 50px;
    line-height: 50px;
    position: relative;
}
